@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
 background-color: #333;
 color: #222;
  /* only hides the scroll bar on the x-axis */
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;

}

.container.show-nav {
  transform: rotate(-20deg)

}